<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="w-full h-screen bg-zinc-900 p-10 text-white">
        <a href="/logout" class="underline">Logout</a>
        <h3 class="mt-4 text-xl font-semibold">PROFILE</h3>
        <h1 class="text-2xl mt-2">Hello, <%= user.name %> 😄</h1>
        <p class="mt-4">Create a new post</p>
        <form action="/post" method="post" class="mt-2">
            <textarea placeholder="What's on your mind?" class="text-black w-full h-32 p-2 rounded-md" name="content"></textarea>
            <input type="submit" class="mt-2 bg-blue-500 text-white py-1 px-4 rounded-md cursor-pointer">
        </form>
        <div class="mt-8">
            <h2 class="text-xl font-semibold">Your Posts</h2>
            <div class="postcontainer mt-4 bg-zinc-800 p-4 rounded-md">
                <div>
                    <h4 class="text-lg font-semibold">@username</h4>
                    <p class="mt-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam</p>
                </div>
                <div class="mt-4 flex gap-4">
                    <a href="" class="underline">Like</a>
                    <a href="" class="underline">Edit</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
